@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.container {
  max-width: 1000px;
  padding: 0 20;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  padding: 43px 0 44px;
  border-bottom: 1px solid #EAEAEA;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}
.header__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #9D9D9D;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link-text {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #5C5C5C;
}

.main-swiper {
  padding: 45px 0 39px;
}
.main-swiper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-swiper__left {
  background: #f3eee8;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 78px 0;
}
.main-swiper__left-log {
  width: 99px;
  height: 40px;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 32px;
}
.main-swiper__right {
  width: 70%;
  background: #f3eee8;
}
.main-swiper__right-img {
  width: 100%;
}
.main-swiper__title {
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  color: #000;
  margin-bottom: 11px;
  margin-left: 61px;
}
.main-swiper__title span {
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  color: #8BB43C;
}
.main-swiper__btn {
  display: inline-block;
  width: 177px;
  height: 47px;
  border-radius: 110px;
  background: #A5D364;
  border: 1px solid #A5D364;
  margin-left: 61px;
}
.main-swiper__empty-1 {
  background: #8BB43C;
  width: 100%;
  height: 100%;
}
.main-swiper__empty-2 {
  background: #68882c;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 960px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-button-next:after {
  content: url("../images/next-after.png");
  position: absolute;
  top: 0;
  right: -26px;
}

.swiper-button-prev::after {
  content: url("../images/next-after.png");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  top: -13px;
  left: -26px;
}